header {
    background-color: #03A9F4;
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #03A9F4;

    height:72px; 
}

header a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.container-1 {
    width: 100%;
}
