.navbar-collapse {
    width: 80%;
    color: #2980b9;
    border: 0px;
    margin: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16pt;
}

.navbar-header {
    width: 20%;
    background-color: #03A9F4;
    color: #fff;
    border: none;
    border-radius: 0;
    padding-top: 8px;
    font-size: 16pt;
    height: 80px;
}

.navbar-collapse li {
    background-color: #03A9F4;
    color: #fff;
}

.navbar-collapse li {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-collapse li:hover {
    background-color: #03A9F4;
    color: #fff;
}

.navbar-collapse li a:link {
    background-color: #03A9F4;
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-collapse li a:hover {
    background-color: #fff;
    color: #03A9F4;
}

.navbar-collapse li a:active>.navbar-collapse li {
    background-color:#03A9F4;
    color: #fff;
}

.navbar-brand {
    color: #03A9F4;
}

.navbar-right {
    margin-right: 1%;
}

.container-1 input#search {
    width: 300px;
    height: 50px;
    background: #fff;
    border: none;
    font-size: 14pt;
    float: left;
    color: #0063B1;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 8px;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #0063B1;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #0063B1;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #0063B1;
}

.container-1 input#search:-ms-input-placeholder {
    color: #0063B1;
}

.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #0063B1;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}

.topnav{
    background:#03A9F4; 
}

.topnav a:active{
    background:#fff !important;
    color:#0063B1 !important; 
}

.topnav a:active{
    background:#fff !important;
    color:#0063B1 !important; 
}