body{
    margin:0px;
    border:0px;
    padding:0px;
}

@font-face {
    font-family: 'Quantify Bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Quantify Bold v2.6.ttf'); /* IE9 Compat Modes */
  }

.navbar-brand{
        font-family: 'Quantify Bold';
        font-size:26pt; 
}
