@font-face {
    font-family: 'Quantify Bold';
    font-style: normal;
    font-weight: 400;
    src: local('Quantify Bold v2.6.ttf'), url('../fonts/Quantify Bold v2.6.ttf'); /* IE9 Compat Modes */
  }


@font-face {
    font-family: 'Belgrano-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Belgrano-Regular.ttf'), url('../fonts/Belgrano-Regular.ttf' ); /* IE9 Compat Modes */
  }


  @font-face {
    font-family: 'Domine-Bold';
    font-style: normal;
    font-weight: 400;
    src:  local('Domine-Bold.ttf'), url('../fonts/Domine-Bold.ttf' ); /* IE9 Compat Modes */
  }


  @font-face {
    font-family: 'Domine-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Domine-Regular.ttf'), url('../fonts/Domine-Regular.ttf' ); /* IE9 Compat Modes */
  }


  body{
    font-family: 'Domine-Regular';
    margin:0px;
    border:0px;
    padding:0px;
}
