.middle_content> h2{
    width: 100%;
    padding:3%;
    background-color: #0078D7;
    border-radius:5px;
    font-size: 15pt;
    color:#fff;
}

.featured_article{
    border:1px;
}

.article_section{
    
}