#footer{float:left; display:inline; width:100%; display:inline-block}
.footer_top{background-color:#0078D7; display:inline; float:left; width:100%; padding-bottom:15px}
.footer_widget{float:left; display:inline; width:100%}
.footer_widget > h2{color:#fff; font-size:19px; font-weight:20pt; margin-bottom:12px; padding-bottom:8px; text-transform:none; font-weight: 28pt;}
.footer_widget > h2:before{display:inline-block; padding-right:5px}
.labels_nav ul{list-style: none;}
.labels_nav{padding-left:20px; position:relative; list-style: none;}
.labels_nav li{margin:0 0 0 20px; font-weight: 16pt;  padding:0 0 5px; text-transform:capitalize; display:inline-block; text-decoration: none;}
.labels_nav li:before{background-color:#fff; position:absolute; width:8px}
.labels_nav li a{color:#232323; text-decoration: none;}
.footer_widget .media a{color:#0063B1; background-color: rgb(0, 62, 109);}
.footer_widget .ppost_nav{margin-top:18px}
.footer_bottom{background-color:#0063B1; color:#fff; display:inline; float:left; padding:15px 0 5px; width:100%}

