
.post_navright {
    list-style: none;
    padding: 0px;
    margin: 5%;
    text-align: justify;
}

.post_navright>li {
    margin-top: 5%;
}

.media-right {
    width: 50%;
    height: 50%;
    max-height: 100px;
}

.media-right>img {
    height: 20%;
}

.containerBody {
    /* padding-top: 2%; */
    text-decoration: None;
    margin: 0px;
    border: 0px;
}

.media-right {
    text-decoration: none;
}

.catg_title {
    text-decoration: none;
}

.text_lilly>a {
    text-decoration: none;
}

.catg_title>a {
    text-decoration: none
}

a .nounderline:link {
    text-decoration: none;
}

