.featured_nav {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

.featured_img:hover img {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1)
}

.featured_img {
    height: 100%;
    height: 300px;
    opacity: 1;
    max-height: 300px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.featured_article {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    margin-top:10px;
    margin-bottom: 10px;
}

.article_category {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.featured_article>.article_title {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.article_section {
    font-weight: bold;
    float: right;
    width: 50%;
}

.article_body {
    float: left;
    width: 50%;
}

.article_section>a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
}

.article_section>a {
    color: inherit;
    text-decoration: none;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.article_category>a {
    color: #232323;
    background-color: #fff;
    font-size: 10pt;
    color: #666
}

.article_category>a i {
    color: #232323;
    background-color: rgb(88, 22, 22)
}

.article_title>a {
    font-size: 14pt;
    line-height: 1.5em;
    width: 100%;
    color: #232323;
    background-color: #fff;
    float: left;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.pagination>li>a,
.pagination>li>span {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    margin-right: 2px
}

.article_title {
    font-size: 16pt;
}

.article_title>a:hover {
    color: #0063B1;
    text-decoration: none;
}

.article_trailtex {
    text-align: justify;
    font-weight: normal;
}

.article_body img {
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 300px;
}

.article_body {
    text-align: justify;
}

.article_body img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    max-height: 300px;
}

.article_body img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.post_nav {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Domine-Regular';
}

.post_nav {
    margin-top: 5%;
}

.post_nav li {
    border-bottom: 1px dashed #ddd;
    list-style-type: none;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    
}

.post_nav figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    cursor: pointer
}

.post_nav figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    width: 300px;
    opacity: 0.8
}

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100%+50px);
    width: calc(100%+50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

figure.effect-lily a:hover img {
    opacity: 1
}

figure.effect-lily a:hover img {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
