.middle_content{
    display: inline;
    width: 100%;
    font-family: 'Domine-Regular';

}

.middle_content>h2 {
    margin:0px;
    border:0px;
    width: 100%;
    background-color: #0078D7;
    border-radius: 5px;
    font-size: 15pt;
    color: #fff;
    padding: 2%;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    display: inline-grid;
    padding: 15px;
    margin-top: 5%;
    font-family: 'Belgrano-Regular';
}


.featured_article {
    border: 1px;
    padding: 5px;
}

.col-lg-6 .col-md-6 .col-sm-8 .col-lg-3 .col-md-3 .col-sm-4  {
    padding: 0px;
    margin: 0px;
}



.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}