.single_widget {
    display: inline;
    width: 100%;
    font-family: 'Domine-Regular';
    margin: 0px;
    border: 0px;
}

.single_widget h2 {
    width: 100%;
    background-color: #FF8C00;
    border-radius: 5px;
    font-size: 15pt;
    color: #fff;
    text-align: center;
    display: inline-grid;
    margin: 0px;
    border: 0px;
    /* padding: 5%; */
    margin-top:10%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Belgrano-Regular';
}

.text_lilly {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color:#232323;  

}

.effect-lily:hover> .text_lilly:hover    {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color:#FF8C00;;  
    
}

/* @media screen and (max-width: 991px) {
    .effect-lily{
         margin: auto; 
        margin-left:auto;
        margin-right: auto;
    }
    text_lilly{
        text-align: center;
    }
} */

