.single_widget_Right{
    display: inline;
    width: 100%;
    font-family: 'Domine-Regular';
    margin: 0px;
    border: 0px;
}

.single_widget_Right h2 {
    width: 100%;
    background-color: #E81123;
    border-radius: 5px;
    font-size: 15pt;
    color: #fff;
    text-align: center;
    display: inline-grid;
    margin: 0px;
    border: 0px;
    padding: 5%;
    margin-top:10%;
    font-family: 'Belgrano-Regular';

}
