.left_sidebar{
    margin:0px;
    border:0px;
    
}

.single_widget h2{
    width: 100%;
    padding:5%;
    background-color: #FF8C00;
    border-radius:5px;
    font-size: 15pt;
    color:#fff;
    margin:0px;
    border:0px;
    margin-top:15px;
    
}


