.post_navright {
    list-style: none;
    padding: 0px;
    margin: 5%;
    text-align: justify;

}

.post_navright>li {
    margin-top: 5%;
}

.media-right {
    width: 50%;
    height: 50%;
    max-height: 100px;
    
}

.media-right>img {
    height: 20%;
}

.single_widget_Right {
    display: inline;
    width: 100%;
    font-family: 'Domine-Regular';
    margin: 0px;
    border: 0px;
}

.single_widget_Right h2 {
    width: 100%;
    background-color: #E81123;
    border-radius: 5px;
    font-size: 15pt;
    color: #fff;
    text-align: center;
    display: inline-grid;
    margin: 0px;
    border: 0px;
    padding: 5%;
    margin-top: 10%;
    font-family: 'Belgrano-Regular';
}


.catg_title {
    text-decoration: None !important;
}