newsBody{
    font-family: 'Belgrano-Regular';
}
.newsBody article {
    padding-top: 0%;
}

.newsBody .single_widget_Right {
    padding-top: 5%;
}

.newsBody{
    border-bottom: 1px solid #ccc;
}

.newsBody .single_widget {
    padding-top: 5%;
}

.article_news {
    margin: 0px;
    border: 0px;
}

.article_title_news {
    margin: 0px;
    border: 0px;
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
    font-family: 'Belgrano-Regular';
}

.article_body_news>img {
    margin: auto;
    width: 500px;
}

.article_body_news {
    margin: 0px;
    border: 0px;
    padding-top: 5%;
    text-align: left;
    font-family: 'Domine-Regular';
    font-size: 11pt;
}

.article_body_news>img:hover {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1.12);
    transform: translate3d(0, 0, 0) scale(1.12);
    margin-left: auto;
	margin-right: auto;
	display: block;

}

.article_body_news>img {
    height: 100%;
    height: 300px;
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.0);
    transform: translate3d(-30px, 0, 0) scale(1.0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: auto;
	margin-right: auto;
    display: block;
    margin-bottom:5%;
}

.published{
    font-size: 12pt;
    color: #ccc;
}

.trailText{
    font-family: 'Domine-bold';
    color:#232323;
}



.author_news{
    border-bottom: 1px solid #ccc;
    font-family: 'Belgrando-Regular';
}