.navbar-form .navar-right .hiddex-xs .input-group .container-1{
    background-color: #2980b9;   
}
.container-1{
    right: 15px;
}

.container-1 input#search {
    border: none;
    font-size: 14pt;
    float: left;
    color: #0063B1;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Domine-Regular';
}

.container-1 input#search::-webkit-input-placeholder {
    color: #0063B1;
}

.container-1 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #0063B1;
}

.container-1 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #0063B1;
}

.container-1 input#search:-ms-input-placeholder {
    color: #0063B1;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}

.header .search-container {
    float: right;
}

.header input[type=text] {
    font-size: 17px;
    border: none;
}

.header .search-container button {
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}

.header .search-container button:hover {
    background: #ccc;
}

button {
    border: none;
    background-color: #fff;
}
