.navbar-brand {
    color: #fff;
    background-color: #03A9F4;
    font-family: 'Quantify Bold';
    font-weight: bold;
    margin: 0px;
    border: 0px;
    font-size: 25pt;
    color: #fff;
    border: none;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {
    .navbar-brand {
        vertical-align: top;
        font-size: 16pt ;
        vertical-align: middle;
        padding: 1%;

    }
}