.navbar-header {

}

.navbar-brand {
    color: #fff;
    background-color: #03A9F4;
    font-family: 'Quantify Bold';
    font-weight: bold;
    margin: 0px;
    border: 0px;
    font-size: 25pt;
    color: #fff;
    border: none;
    border-radius: 0;

}
